<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms12sem</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<header>
    <h1>Jesper og Roberts</h1>
    <h2>OogieBoogie Service</h2>
    <img src="img/MiniBoogie.jpg"/>
</header>
<div id="body">
<body>
    <nav>
        <ol>
            <li><a href="form.html">Create new post.</a></li>
            <li><a href="index.html">Home.</a></li>
            <li><a href="emailto:JesOgRob@protonmail.com">Send us an Email.</a></li>
        </ol>
    </nav>
</body>
</div>